DJANGO_SECRET_KEY=replace-me
DJANGO_DEBUG=false
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
POSTGRES_DB=platonica
POSTGRES_USER=platonica
POSTGRES_PASSWORD=patssword
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
DATABASE_URL=postgresql://platonica:platonica_dev_2026@127.0.0.1:5432/platonica
